
.row-container {
    display: flex;
    border: 1px solid;
}

.img-container {
    width: 56px;
    height: 68px;
}
.combo-skill-container{
    width: 300px;
    height: 58px;
    font-size: 12px;

    
}


.skill-container {
    height: 58px;
    font-size: 12px;
}

.req-container{
    font-size: 12px;
}
