.overall-container {
    display: flex;
    height: 100vh;
    width: 90vw;
}

.table-container {
    Overflow-y: scroll;  /* scroll bar for table */
    overflow-x: hidden; /* hide width scroll */
    width: 45vw;
}



.row-container {
    display: flex;
    border: 1px solid; /* border of each row */
    height: 7vh;       /* height responsive */
    font-family: "Comic Sans MS", "Comic Sans", cursive;   /* lost ark font */
    font-weight: 300;
    background-color: #2b3436;
    border-radius: 4px; /* rounded borders */
    min-height: 30px;
    
}

.img-container {
    height: 6.2vh;
    width: 4vw;
    min-height: 20px;
}
.combo-skill-container {
    justify-content: space-between;
    align-items: stretch;
    border-right: 1px solid; /* Line seperator between points and name */
    width: 22vw;                /* width of the skill container border line */
    
}

.combo-name {
    color: #ebc201;
    margin: 0.2vw 0.1vw 0.0vw 0.1vw;
    font-size: 0.9vw;
    height: 45%;
}

.skill-name {
    margin: 0.2vw 0.1vw 0.2vw 0.1vw;
    font-size: 1.1vw;
    color: white;
    height: 55%;
}
/*******************/
.skill-req-container {
    display: flex;
}

.req-container{
    text-align: center;
    color: white;
    margin: 0.3vw;
}

.req-point {
    font-size: 1vw;
}

.req-point-name {
    font-size: 1.5vh;
    margin-top: 0.5vw;
    
}

.skill-container {
    text-align: center;
    margin: 0.3vw;
}

.skill-point {
    font-size: 1vw;
    color: white;
}

.skill-level-name {
    font-size: 1.5vh;
    color: #ffd200;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
    
}
/*****************************/
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.add-button {
    height: 43%;
    font-size: 1.3vw;
    color: #cebe8c;
    background-color: #313c48;
    border-radius: 2px;
}
.sub-button {
    height: 43%;
    font-size: 1.3vw;
    color: #cebe8c;
    background-color: #313c48;
    border-radius: 2px;
}

.triport-image-container{
    color: #304050;
    margin-top: 0.2vw;
    margin-left: 0.5vw;
    margin-right: 0.2vw;
}

.triport-container {
    display: flex;
    justify-content: center;
    color: red;
    background-color: #2b3436;
    border: 4px pink solid;
    width: 30vw;
    height: 30vw;
}

.triport-button-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid;
    width: 20vw;
    margin: 2vw;
    
}


.triport-button-container-1 {
    height: 2vw;
    width: 100%;
    border: 1px blue solid;
    display: flex;
    justify-content: space-evenly;
    
}


.triport-button-container-2 {
    height: 2vw;
    width: 100%;
    border: 1px blue solid;
    display: flex;
    justify-content: space-evenly;
}


.triport-button-container-3 {
    height: 2vw;
    width: 100%;
    border: 1px blue solid;
    display: flex;
    justify-content: space-evenly;
}


.triport-image-1 {
    height: 6.2vh;
    width: 4vw;
    min-height: 20px;
}

.triport-break{
    width: 15vw;
    height: 0.1vw;
    border-width: 0;
    background-color: #485662;
}
