.SkillCard, .Reset-Button, .class-Select-Button {
    background-color: #2b3436;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
} 
.SkillCard_skill_type{
    color: #ebc201;
}
.SkillCard_skill_name{
    color: white;
}
.SkillCard_reqtype{
    color: white;
}
.SkillCard_lvltype_point{
    color: white;    

}
.SkillCard_lvltype_text{
    color: #ffd200;
}
.SkillCard_buttons_plus{
    color: #cebe8c;
    background-color: #425161;
}
.SkillCard_buttons_minus{
    color: #cebe8c;
    background-color: #425161;
}

.Triport_Container_Inside {
    background-color : #2b3436;
}
.tripodline-1{
    height: 50%;
    border-bottom: 1px solid black;

}

.tripodline-2{
    height: 50%;
    border-bottom: 1px solid black;

}
hr {
    height: 1px;
    border: none;
    color: black;
    background-color: black;
}

.figure-caption {
    font-size: 0.60em;
    color: white;
}



.dropdownMenu {
    z-index: 999999;
}  